@page
@model BookStore.Pages.Books.IndexModel

@{
    ViewData["Title"] = "BookList";
    string value = "";
    if (ViewData["SearchString"] != null)
    {
        value = ViewData["SearchString"].ToString();
    }
    string SearchType = "";
    if (ViewData["SearchType"] != null)
    {
        SearchType = ViewData["SearchType"].ToString();
    }

}
<style>
    .body {
        width: 1000px;
        margin-bottom: 10px;
    }

    #SearchForm {
        margin-bottom: 10px;
    }

    th td {
        width: auto;
    }

    .name {
        width: 300px;
    }

    .price {
        width: 100px;
    }

    .author {
        width: 200px;
    }
</style>

<script>
    $(function () {
        $("[name=SearchBox]").on("change", function () {
            $("[name=SearchString]").val($(this).val());
            $("#pageForm").submit();
        });
        $("[name=Classify]").on("click", function () {
            $("[name=SearchType]").val($(this).val());
            $("#pageForm").submit();
        });
    })
</script>

<h2 class="h2">书籍浏览</h2>

<div class="body">
    <div class="body-content" style="margin-bottom:10px;">
        <input type="text" name="SearchBox" value="@value" placeholder="搜索书籍名称" autocomplete="off" />
    </div>
    <div class="body-content">

        <span class="text-left">图书分类：</span>
        @foreach (var item in Model.Btns)
        {
            <button class="@item.btnClass" style="margin-right:20px;"
                    name="Classify" value="@item.name">
                @item.name
            </button>
        }
        <input type="text" name="ClassifyValue" style="display:none;" />
    </div>
    <div class="body-content">
        <table class="table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Book[0].BookName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Book[0].Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Book[0].Img)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Book[0].Author)
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Book)
                {
                    <tr>
                        <td class="name">
                            @Html.DisplayFor(modelItem => item.BookName)
                        </td>
                        <td class="price">
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td class="img">
                            <img class="img-rounded" src="@item.Img" alt="Alternate Text" />
                        </td>
                        <td class="author">
                            @Html.DisplayFor(modelItem => item.Author)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                        <td>
                            <a class="btn btn-default" asp-page-handler="AddItemToCart" asp-route-itemNo="@item.Id">
                                添加购物车
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="body-content">
    <form method="post" id="pageForm" asp-page-handler="NextPage">
        @{
            var prevDisabled = !Model.Book.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.Book.HasNextPage ? "disabled" : "";
        }
        @*用来保存搜索字符串*@
        <input type="text" name="SearchString" value="@value" style="display:none;" />
        <input type="text" name="SearchType" value="@SearchType" style="display:none;" />
        @*用来触发搜索事件*@
        <input type="submit" id="SearchBtn" value="" style="display:none;"
               asp-page-handler="NextPage" asp-route-pageIndex="1" />
        <button class="btn btn-default @prevDisabled" type="submit" id="Prev"
                asp-page-handler="NextPage" asp-route-pageIndex="@(Model.Book.PageIndex - 1)">
            前一页
        </button>
        <button class="btn btn-default" type="submit" id="Current"
                asp-page-handler="NextPage" asp-route-pageIndex="@(Model.Book.PageIndex)">
            @(Model.Book.PageIndex)
        </button>
        <button class="btn btn-default @nextDisabled" id="Next" type="submit"
                asp-page-handler="NextPage" asp-route-pageIndex="@(Model.Book.PageIndex+1)">
            后一页
        </button>
    </form>
</div>